<div class="mt-4">

    <h3 style="color: aliceblue;">Cập nhật phim</h3>

    <form method="POST" action="/movies/{{movie._id}}?_method=PUT">

        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Tên phim</label>
            <input value="{{movie.name}}" type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Mô tả</label>
            <input value="{{movie.description}}" type="text" class="form-control" id="description" name="description" >
        </div>
        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Video Id</label>
            <input value="{{movie.videoId}}" type="text" class="form-control" id="videoId" name="videoId" >
        </div>
        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Image</label>
            <input value="{{movie.image}}" type="text" class="form-control" id="image" name="image" >
        </div>
        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Slug</label>
            <input value="{{movie.slug}}" type="text" class="form-control" id="slug" name="slug" >
        </div>
        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Giá</label>
            <input value="{{movie.price}}" type="text" class="form-control" id="price" name="price" >
        </div>
       
        <button type="submit" class="btn btn-primary btn-add-movie">Lưu Lại</button>

    </form>

</div>